<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="description" content="David Schmid's Website">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="mt-8 ml-8">
        <h1 class="text-3xl font-bold underline">David Schmid</h1>
        <p>Hi, I'm David Schmid. I'm a Data Engineer.</p>
        </div>
    </body>
</html>